.ojak-light-gray {
    color : #D9D9D9;
}

.bg-ojak-light-gray {
    background-color : #D9D9D9;
}


.ojak-middle-gray {
    color : #B3B3B3;
}

.bg-ojak-light-grey {
    background-color: rgb(244,244,244,1);
}

.bg-ojak-middle-grey {
    background-color: #B3B3B3;
}

.bg-ojak-dark-grey {
    background-color: #DADADA;
}