
@media (max-width: 700px) { 
    .carousel-inner-lg {
        display : none;
    }

    .carousel-inner-sm {
        display :block;
    }

    .home-intro2-text-lg {
        display : none;
    }

    .home-intro2-text-sm {
        display :block;
    }

    .sub-title-lg {
        display : none;
    }

    .sub-title-sm {
        display :block;
    }

    .for-lg {
        display : none;
    }

    .for-sm {
        display :block;
    }



}

@media (min-width: 700px) { 
    .carousel-inner-lg {
        display : block;
    }

    .carousel-inner-sm {
        display : none;
    }

    .home-intro2-text-lg {
        display : block;
    }

    .home-intro2-text-sm {
        display :none;
    }
    
    .sub-title-lg {
        display : block;
    }

    .sub-title-sm {
        display :none;
    }

    .for-lg {
        display : block;
    }

    .for-sm {
        display :none;
    }

}

@media (min-width: 1200px) { 
    .for-md-show {
        display : block;
    }

    .for-md-hide {
        display : none;
    }
}

@media (max-width: 1200px) { 
    .for-md-show {
        display : none;
    }

    .for-md-hide {
        display : block;
    }
}

