<div class="container">
    <div class="for-lg">
        <div class="d-flex justify-content-center text-center"  >
            <div class="fw-bold mx-5" style="margin-top:150px;margin-bottom:150px;" >
                <span style="font-size:42px; font-weight: 800;color:#6D6D6D;letter-spacing:5px;" >한지로 빚은 한국인의 숨결</span>
                <br />
                <span style="font-size:24px; font-weight: 500; color:#6D6D6D;">Crafting the Soul of Korea with Traditional Hanji Paper</span>
            </div>
        </div>
    </div>
    <div class="for-sm">
        <div class="d-flex justify-content-center text-center"  >
            <div class="fw-bold mx-5" style="margin-top:90px;margin-bottom:90px;" >
                <span style="font-size:24px; font-weight: 800;color:#6D6D6D;" >한지로 빚은 한국인의 숨결</span>
                <br />
                <span style="font-size:18px; font-weight: 500; color:#6D6D6D;line-height: 3px;">Crafting the Soul of Korea with Traditional Hanji Paper</span>
            </div>
        </div>
    </div>
</div>

<!-- 24 18 -->
